<div class="shell">
  <div class="add-ticket">
    <h3>Add New Ticket</h3>
    <feat-ticket-add-new
      (newTicket)="addNewTicket($event)"
    ></feat-ticket-add-new>
  </div>
  <div class="ticket-shell">
    <feat-ticket-list
      [tickets]="tickets$ | async"
      [users]="users$ | async | arrayToMap"
      (openCard)="openCardDetails($event)"
    ></feat-ticket-list>
    <ng-container *ngIf="isDetailsPaneOpen$ | async">
      <mat-divider [vertical]="true"></mat-divider>
      <div class="ticket-detail-container">
        <router-outlet></router-outlet>
      </div>
    </ng-container>
  </div>
</div>
